/* styles/login.css */
.login-page {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px; /* רווח כדי שהכפתורים לא יתחבאו מתחת ל-NAVBAR */
}

/* אזור הכפתורים */
.auth-buttons {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 100px; /* מצמיד את הכפתורים מתחת ל-NAVBAR */
  right: 5%;
}

.auth-button {
  background-color: #e0a6b1; /* ורוד עתיק */
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-button:hover {
  background-color: #c98794; /* גוון כהה יותר */
}
